    body {
        margin: 0;
        text-align: center;
        background-color: #1e1e1e;
        color: #e1e1e1;
    }
    
    h1 {
        margin: 0;
    }
    
    header {
        padding: 8px;
        background-color: #2e2e2e;
    }
    
    main {
        padding: 8px;
    }
    
    noscript {
        height: 80vh;
        display: grid;
        place-items: center;
    }
    
    #elevators-list,
    #waiting-passengers-list {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
    }
    
    .elevator,
    .waiting-passenger {
        min-height: 160px;
        width: 160px;
        padding: 4px;
        margin: 4px;
        border-radius: 4px;
        border: 1px solid gray;
    }
    
    .elevator>*:nth-child(2n),
    .waiting-passenger>*:nth-child(2n) {
        margin-bottom: 4px;
        opacity: .7;
    }
    
    .elevator>*:nth-child(2n + 1),
    .waiting-passenger>*:nth-child(2n + 1) {
        font-size: 2em;
    }